@import 'vars';
@import 'global';
@import 'fonts';

// start header
.header__top {
    background-color: $bg;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header__logo {
    @include f700;
    font-size: 30px;
    padding-left: 56px;
    position: relative;
    span {
        color: #0674ec;
    }
    &-img {
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
.header__top-content {
    display: flex;
    align-items: center;
    &-btn {
        font-size: 14px;
        line-height: 28px;
        background-color: $btn;
        color: #fff;
        border-radius: 17px;
        padding: 4px 17px;
        margin-right: 50px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    }
    &-image {
        width: 50px;
        height: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &-name {
        max-width: 100px;
        margin-left: 22px;
        span {
            color: $btn;
        }
    }
    &-bell {
        &::before {
            content: '\f0a2';
            margin-right: 30px;
        }
    }
    &-mail {
        &::before {
            content: '\f003';
            margin-right: 35px;
        }
    }
    &-basket {
        &::before {
            content: '\f07a';
            margin-right: 50px;
        }
    }
}
.header-icons {
    font-family: 'icomoon';
    color: #7e8fa1;
    font-size: 20px;
}
.header__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #fff;
}
.menu-list {
    li {
        display: inline-block;
        & + li {
            margin-left: 34px;
        }
    }
    a {
        font-size: 15px;
        line-height: 42px;
        color: #333;
        text-transform: uppercase;
        @include f700;
    }
}
.header__menu-inner {
    form {
        max-width: 360px;
        width: 100%;
        position: relative;
        input {
            border: 1px solid #d9dfe5;
            height: 46px;
            border-radius: 24px;
            padding-left: 25px;
            width: 100%;
            outline: none;
        }
        button {
            border: none;
            background-color: $btn;
            height: 46px;
            width: 70px;
            position: absolute;
            right: 0;
            border-radius: 24px;
            outline: none;
            cursor: pointer;
            &::before {
                content: '\f002';
                font-family: 'icomoon';
                color: #fff;
                font-size: 15px;
            }
        }
    }
}
// end header

// start category
.category {
    padding: 170px 0 230px;
    background-image: linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
}
.category__box {
    text-align: center;
    color: #fff;
    max-width: 900px;
    margin: 0 auto;
    &-title {
        font-size: 60px;
        line-height: 70px;
        span {
            @include f700;
            display: inline-block;
        }
    }
    &-subtitle {
        font-size: 20px;
        padding: 4px;
        margin-top: 30px;
        margin-bottom: 70px;
        @include f500;
    }
    &-btn {
        color: #fff;
        border: 1px solid #fff;
        border-radius: 30px;
        padding: 20px 30px;
        margin: 0 15px;
        transition: all .3s;
        &:hover {
            background-color: #fff;
            color: $btn;
        }
    }
}
// end category

// start search
.product-search {
    position: absolute;
    top: -67px;
    width: 100%;
}
.product-search__inner {
    text-align: center;
    padding: 40px 0;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    ::before {
        content: '';
        position: absolute;
        height: 13px;
        top: -13px;
        left: 15px;
        right: 15px;
        background-color: rgba(255,255,255,.5);
        border-radius: 6px 6px 0 0;
    }
    ::after {
        content: '';
        position: absolute;
        height: 26px;
        top: -26px;
        left: 30px;
        right: 30px;
        background-color: rgba(255,255,255,.5);
        border-radius: 6px 6px 0 0;
    }
    form {
        width: 100%;
        input {
            max-width: 800px;
            width: 100%;
            outline: none;
            border: 1px solid #dcdcdc;
            border-radius: 4px;
            padding-left: 30px;
            min-height: 55px;
            margin-left: 40px;
        }
        button {
            border: none;
            background-color: $btn;
            border-radius: 4px;
            color: #fff;
            padding: 0 68px;
            margin: 0 40px 0 30px;
            min-height: 55px;
            outline: none;
        }
    }
}
// end search

// start advantages
.advantages {
    padding: 230px 0 170px;
    position: relative;
}
.advantages__inner {
    display: flex;
    justify-content: space-between;
}
.advantages__item {
    max-width: 360px;
    text-align: center;
    &-image {
        width: 112px;
        height: 112px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        margin-bottom: 35px;
    }
    &-title {
        font-size: 24px;
        margin-bottom: 30px;
    }
    &-text {
        line-height: 32px;
        padding: 0 20px;
    }
}
 // end advantages

 // start product-slider
 .product-slider {
     padding: 120px 0 120px;
     background-color: #eff1f5;
 }
 .slider__item {
     &-inner {
         display: flex;
         box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
     }
     &-img {
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         max-width: 555px;
         min-height: 450px;
         width: 100%;
         display: block;
     }
     &-content {
         background-color: #fff;
         max-width: 585px;
         padding: 0 40px 0 50px;
         width: 100%;
     }
     &-title {
         a {
            font-size: 24px;
            @include f500;
            margin-bottom : 15px;
            margin-top: 50px;
         }
     }
     &-user {
         display: flex;
         align-items: center;
         font-size: 15px;
         margin-bottom: 35px;
         .user-img {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 33px;
            height: 33px;
            margin-right: 10px;
            display: block;
         }
         .user-name {
             margin-right: 20px;
         }
         span {
             padding-left: 25px;
             color: $cherry;
             position: relative;
             &::before {
                 content: '';
                 background-image: url(../img/slider-icon.png);
                 width: 16px;
                 height: 16px;
                 position: absolute;
                 left: 0;
                 top: 0;
             }
         }
     }
     &-category {
        padding: 45px 0 45px;
        border-bottom: 1px solid #ececec;
         .category-list {
             li {
                 display: inline-block;
                 & + li {
                     margin-left: 8px;
                 }
                 a {
                     font-size: 15px;
                     padding: 5px 15px;
                     border-radius: 11px;
                     background-color: #eaebee;
                     color: #868c96;
                 }
             }
         }
     }
     &-about {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 30px 0;
         .about-list {
             li {
                 display: inline-block;
             }
             .about__price {
                 padding: 8px 15px;
                 background-color: $btn;
                 font-size: 15px;
                 border-radius: 15px;
                 color: #fff;
                 margin-right: 20px;
             }
             .about__likes {
                 padding-left: 25px;
                 position: relative;
                 color: #555555;
                 margin-right: 15px;
                 &::before {
                     content: '\f08a';
                     font-family: 'icomoon';
                     position: absolute;
                     left: 0;
                     bottom: 0;
                     color: $cherry;
                 }
             }
             .about__sells {
                padding-left: 25px;
                position: relative;
                color: #0674ec;
                &::before {
                   content: '\f07a';
                   font-family: 'icomoon';
                   position: absolute;
                   left: 0;
                   bottom: 0;
                   color: #0674ec;
            }
        }
     }
 }
 }
 .slick-next.slick-arrow {
    font-size: 0;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 30px;
    top: -125px;
    width: 55px;
    height: 45px;
    background-color: $cherry;
    border-radius: 0 25px 25px 0;
    &::before {
        content: '\f105';
        font-family: 'icomoon';
        font-size: 25px;
        color: #fff;
        outline: none;
    }
 }
 .slick-prev.slick-arrow {
    font-size: 0;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 85px;
    top: -125px;
    z-index: 1;
    width: 55px;
    height: 45px;
    background-color: $cherry;
    border-radius: 25px 0 0 25px;
    &::before {
        content: '\f104';
        font-family: 'icomoon';
        font-size: 25px;
        color: #fff;
    }
 }
 // end product-slider

//  start release-products
.release-products {
    padding: 125px 0 120px;
    background-color: #f6f7fb;
}
.release-products__title {
    display: flex;
    span {
        margin-left: auto;
        font-size: 16px;
        line-height: 32px;
        color: $text;
        margin-right: 30px;
        padding-right: 30px;
        position: relative;
        button {
            border: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            position: absolute;
            top: 5px;
            right: 0;
            &::before {
                font-size: 20px;
                color: $text;
            }
        }
    }
}
.release-products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.release-products__inner-btn {
    display: flex;
    margin-top: 35px;
    margin-bottom: 50px;
    padding: 30px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    button {
        border: none;
        background-color: #f1f3f6;
        color: $text;
        border-radius: 18px;
        padding: 8px 20px;
        @include f500;
        font-size: 15px;
        cursor: pointer;
        outline: none;
        & + button {
            margin-left: 10px;
        }
        &:hover {
            color: #fff;
            background-color: $btn;
        }
    }
}
.release-products__item {
    max-width: 360px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 30px;
}
.products__item-image {
    max-width: 361px;
    min-height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:hover .item__image-box {
        opacity: 1;
        pointer-events: all;
    }
}
.item__image-box {
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
}
.products__item-layout {
    background-image: linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        font-size: 15px;
        color: #fff;
        @include f500;
        border: 1px solid #fff;
        padding: 16px 8px 14px;
        width: 130px;
        border-radius: 25px;
        transition: all .3s;
        &:hover {
            background-color: #fff;
            color: $btn;
        }
        & + a {
            margin-left: 10px;
        }
    }
}
.products__item-title {
    font-size: 20px;
    @include f500;
    color: #000;
    padding: 28px 40px 18px 30px;
}
.products__item-user {
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.item-user__image {
    width: 28px;
    height: 28px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;
}
.item-user__name {
    font-size: 15px;
    color: #000;
    margin-right: 20px;
}
.item-user__theme {
    font-size: 15px;
    color: $cherry;
    padding-left: 25px;
    position: relative;
    &::before {
        content: '';
        background-image: url(../img/slider-icon.png);
        width: 15px;
        height: 15px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
.products__item-text {
    padding: 28px 40px 35px 30px;
    border-bottom: 1px solid #ececec;
}
.release-products__item {
    .slider__item-about {
        padding: 15px 30px;
    .rateYo {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .about__price {
        margin-right: 13px;
    }
    .about__likes {
        margin-right: 13px;
    }
    .about-list {
        width: 100%;
        position: relative;
    }
    .about__sells {
       position: absolute;
       right: 0;
       top: 7px;
    }
    .rateYo-on {
    display: inline-block;
    }
    .rateYo-off {
    display: none;
    }
  }  
}
.release-products__all-btn {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 190px;
    background-color: $btn;
    color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 20px 30px;
    margin-top: 60px;
}
//  end release-products

  