@import 'vars';
@import 'global';
@import 'fonts';

// start header
.header__top {
    background-color: $bg;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header__logo {
    @include f700;
    font-size: 30px;
    padding-left: 56px;
    position: relative;
    span {
        color: #0674ec;
    }
    &-img {
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
.header__top-content {
    display: flex;
    align-items: center;
    &-btn {
        font-size: 14px;
        line-height: 28px;
        background-color: $btn;
        color: #fff;
        border-radius: 17px;
        padding: 4px 17px;
        margin-right: 50px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    }
    &-image {
        width: 50px;
        height: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &-name {
        max-width: 100px;
        margin-left: 22px;
        span {
            color: $btn;
        }
    }
    &-bell {
        &::before {
            content: '\f0a2';
            margin-right: 30px;
        }
    }
    &-mail {
        &::before {
            content: '\f003';
            margin-right: 35px;
        }
    }
    &-basket {
        &::before {
            content: '\f07a';
            margin-right: 50px;
        }
    }
}
.header-icons {
    font-family: 'icomoon';
    color: #7e8fa1;
    font-size: 20px;
}
.header__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #fff;
}
.menu-list {
    li {
        display: inline-block;
        & + li {
            margin-left: 34px;
        }
    }
    a {
        font-size: 15px;
        line-height: 42px;
        color: #333;
        text-transform: uppercase;
        @include f700;
    }
}
.header__menu-inner {
    form {
        max-width: 360px;
        width: 100%;
        position: relative;
        input {
            border: 1px solid #d9dfe5;
            height: 46px;
            border-radius: 24px;
            padding-left: 25px;
            width: 100%;
            outline: none;
        }
        button {
            border: none;
            background-color: $btn;
            height: 46px;
            width: 70px;
            position: absolute;
            right: 0;
            border-radius: 24px;
            outline: none;
            cursor: pointer;
            &::before {
                content: '\f002';
                font-family: 'icomoon';
                color: #fff;
                font-size: 15px;
            }
        }
    }
}
// end header

// start category
.category {
    padding: 170px 0 230px;
    background-image: linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
}
.category__box {
    text-align: center;
    color: #fff;
    max-width: 900px;
    margin: 0 auto;
    &-title {
        font-size: 60px;
        line-height: 70px;
        span {
            @include f700;
            display: inline-block;
        }
    }
    &-subtitle {
        font-size: 20px;
        padding: 4px;
        margin-top: 30px;
        margin-bottom: 70px;
        @include f500;
    }
    &-btn {
        color: #fff;
        border: 1px solid #fff;
        border-radius: 30px;
        padding: 20px 30px;
        margin: 0 15px;
        transition: all .3s;
        &:hover {
            background-color: #fff;
            color: $btn;
        }
    }
}
// end category

// start search
.advantages {
    padding: 230px 0 170px;
}
.advantages__inner {
    display: flex;
    justify-content: space-between;
}
.advantages__item {
    max-width: 360px;
    text-align: center;
    &-image {
        width: 112px;
        height: 112px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        margin-bottom: 35px;
    }
    &-title {
        font-size: 24px;
        margin-bottom: 30px;
    }
    &-text {
        line-height: 32px;
        padding: 0 20px;
    }
}
 // end search